<!DOCTYPE HTML>
<html>
  <head>
    <title>New Note</title>
  </head>
  <div id="new-note">
    <body>
      <h1>Make changes</h1>
          <ul>
            <li>
              <a>
                <div id="create">
                <form action="/notes/<%= note_of_user.id %>" method="post">
                  <input type="hidden" name="_method" value="PATCH">
                  <input type="text" name="title"  value="<%= note_of_user.title%>">
                  <textarea id="newnote" name="content"rows="20" cols="65" palaceholder="Jot it down.."><%= note_of_user.content %></textarea>
                  <input id="new-note-submit" type="submit">
                </form>

                <form action="/notes/<%= note_of_user.id %>" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="DELETE">
                </form>
                </div>
              </a>
            </li>
          </ul>
        </<body>
      </div>
</html>
