<!DOCTYPE HTML>
<html>
<head>
<title>Note</title>
</head>
<body>
  <h1><%= note_of_user.title%></h1>
<div id="new-note">
      <ul>
        <li>
            <a href="/notes/<%= params[:id] %>/edit">
              <p><%=note_of_user.content%></p>
            </a>
          </li>
        </ul>
        <h4 id="warning">*click on the note to edit note<h4>
      </div>
    </<body>
</html>
