<!DOCTYPE HTML>
<html>
<head>
<title>Note</title>
</head>
  <div id="nav">
    <ul>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/notes/new">New Note</a></li>
      <li><a class="active"  href="/logout">Logout</a></li>
    </ul>
  </div>
<body>
<div id="new-note">

  <% user = User.find_by(:username => session[:username]) %>
  <% all_notes = user.notes %>
    <h1><%= all_notes.where(:id => params[:id]).pluck(:title).join(', ')%></h1>
     <p><%=all_notes.where(:id => params[:id]).pluck(:content).join(', ')%></p>
</div>
</<body>
</html>
