{
  margin:0;
  padding:0;
}
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#1B1B1B;
  color:#fff;
}
p{
  font-size:100%;
  font-weight:normal;
}
#all-notes ul,li{
  list-style:none;
  overflow:auto;
}
#all-notes ul{
  overflow:hidden;
  padding:3em;
}
#all-notes ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  overflow:auto;
  height:20em;
  width:20em;
  padding:1.3em;
}
#all-notes ul li{
  margin:1.6em;
  float:left;
}
h1 {
    text-align: center;
}
#all-notes li h2{
  color: #6A6A6A;
}
#center {
  margin: 0;
  width: 100%;
}


#error{
  text-align: center;
  font-size: 50px;
}
#error p{
  color: grey;
}


#page-wrap {
  position: relative;
  height: 250px;
  top: 140px;
  max-width: 405px;
  width: 100%;
  margin:auto;
  padding:60px;
/*   background-color: #FBEC5D; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  box-shadow: 0px 30px 60px -5px #000;
}
/*  ::placeholder {
  color: white;
  opacity: 1;
} */

#page-wrap h1 {
  color: white;
  text-align: center;
  padding:10px
}
.text{
  border:none;
  width: 89%;
  padding:10px 20px;
  height:15px;
  border-radius: 20px;
  background:rgba(255,255,255,0.4);
  overflow: hidden;
}
.signin{
  background-color: white;
  color: black;
  width:100%;
  padding:10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition:all 0.5s ease-in-out;
  border:0 none;
  text-transform: uppercase;
}


#new-note{
  margin: 450px;
  width: 45%;
  padding: 0.1px;
  margin-top: 15px;
}
#new-note ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  overflow:auto;
  height:30em;
  width:30em;
  padding:1.3em;
}

#create input {
 background-color:#FFF;
 min-height:40px;
 width:470px;
 font-size:14pt;
 margin-bottom: 30px;
 padding: 40;
 border-radius: 10px;
 background:rgba(255,255,255,1.0);
 border:none;
}
#newnote {
 margin-top: 1px;
 background:rgba(255,255,255,1.0);
 border:none;
}
#new-note-submit {
 margin-top: 13px;
 width:100px;
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 16.5%;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #5555;
}

#signin-link{
  color: grey;
}

#signin-link:hover {
  color: #FBEC5D;
}
