<!DOCTYPE HTML>
<html>
<head>
<title>Notes</title>
</head>
<div id="page-wrap">
 <body>
 <ul>
  <% user = User.find_by(:username => session[:username]) %>
  <% notes = user.notes.pluck(:id, :title) %>
  <% notes.each do |id, title| %>
    <!-- <li><%= title %></li> -->
    <li><a href="notes/<%= id%>"><%=title%></a></li>
    <%end%>
 </ul>
 <a href="notes/new">New Note</a>
</div>
</html>
