<!DOCTYPE HTML>
<html>
<head>
<title>New Note</title>
</head>
<div id="page-wrap">
 <body>
  <h1>Note it...</h1>
   <form action="/savepost" method="POST">
     <<input type="text" name="title" placeholder="Title your note">
     <textarea id="newnote" name="content"rows="10" cols="65" placeholder="Jot something down.."></textarea>
   <input id="newnote" type="submit">
</form>
</body>
</div>
</html>
