<!DOCTYPE HTML>
<html>
<head>
<title>Steam Press Index</title>
</head>
<div id="page-wrap">
 <body>
  <h1>Note it...</h1>
   <form action="/savepost" method="POST">
     <textarea id="newnote" name="note"rows="10" cols="65">The cat was playing in the garden.</textarea>
   <input id="newnote" type="submit">
</form>
</body>
</div>
</html>
