<!DOCTYPE HTML>
<html>
  <head>
    <title>error</title>
  </head>
      <div id="error">
        <h1>Uh oh...</h1>
        <p>You don't have any notes yet! <br>
          Create a new note and then come back. <br>
          Start a new note by clicking "New Note" <br>
        </p>
        <img src="https://media.giphy.com/media/l2SqhNnGa9zkZuu3K/giphy.gif" alt="Uh oh...">
      </div>
</html>
