<!DOCTYPE HTML>
<html>
<head>
<title>Notes</title>
</head>
<div id="page-wrap">
 <body>
 <ul>
  <% user = User.find_by(:username => session[:username]) %>
  <% notes = user.notes.pluck(:title) %>
  <% notes.each do |title| %>
    <li><%= title %></li>
    <%end%>
 </ul>
 <a href="http://127.0.0.1:9393/notes/new">link text</a>
</div>
</html>
