<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign Up</title>
    <link href="newlook.css" rel="stylesheet" type = "text/css">
  </head>
  <div id="page-wrap">
      <body>
        <a id="signin-link" href="login">Sign in</a>
        <br>
        <h1>JOT IT DOWN!</h1>
        <i class="fas fa-sticky-note"></i>
          <div class="simpleLogin">
              <form action="/users" method="POST">
                  <input type="text" class="text" name="username" placeholder="USERNAME" value="USERNAME"required>
                    <br><br>
                    <input type="password" class="text" name="password" placeholder="PASSWORD" value="password123456" required>
                    <button class="signin">Sign up!</button>
              </form>
          </div>
            <div class="bottomtext">
              <section>
                <br></br>
                <p>"Note it. Noted" | Jot it down! | Made By: <a href="https://github.com/micahbowie">Micah Bowie</a></p>
              </section>
            </div>
        </body>
      </div>
</html>
